.create-set-heading {
  margin-left: 10%;
}

.create-set-description {
  margin-left: 10%;
}

.create-set-title-input-container {
  margin-left: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 25%;
  min-width: 215px;
  padding: 0.5em 1em 1em 1em;
}

.create-set-subheading {
  margin-left: 10%;
}

.options-container {
  width: 50%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}

.options-container-item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 45%;
}

@media (max-width: 720px) {
  .create-set-heading {
    margin-left: 5%;
  }

  .create-set-description {
    margin-left: 5%;
  }

  .create-set-subheading {
    margin-left: 5%;
  }

  .create-set-title-input-container {
    margin-left: 5%;
  }

  .options-container {
    flex-direction: column;
    width: 95%;
    margin-left: 5%;
  }

  .options-container-item {
    width: 90%;
  }

  .options-container-item:first-child {
    margin-bottom: 0.5rem;
  }
}