.login-form-container {
  margin: 8% auto;
  width: 25%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 292px;
}

.login-form-container h3 {
  font-size: 2rem;
}

button.nav-pill-primary {
  font-size: 1rem;
  outline: none;
}

.error {
  color: red;
}