* {
  box-sizing: border-box;
}

body {

}

/* Navbar */
nav {
  position: relative;
  height: 8vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0 2em;
}

nav > ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Name and Logo */
nav ul li.nav-brand {
  justify-content: flex-start;
  flex-basis: 8%;
}

/* Search bar */
.search-container {
  flex: 3;
  height: 100%;
}

.search-container input {
  padding: 0.5em 1.75em 0.5em 0.5em;
  font-size: 1rem;
  background: url("../../images/search.svg") no-repeat;
  background-position: right;
  width: 60%;
}

.search-container button {
  padding: 0;
  margin: 0;
}

.nav-button-container {
  display: flex;
}

.nav-button-container > li:first-child {
  margin-right: 1em;
}

/* Nav buttons */
a.nav-pill-primary {
  background-color: #C06DF1;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5em 4em;
}

a.nav-pill-primary:hover {
  background-color: #C06DF0;
  color: #fff;
}

a.nav-pill-secondary {
  background-color: #fff;
  border: 1px solid #C06DF1;
  color: #C06DF1;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5em 4em;
}

a.nav-pill-secondary:hover {
  background-color: #fff;
  color: #C06DF1;
}


.toggle-menu {
  display: none;
}

@media(max-width: 720px) {
  .nav-button-container > li > a {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    transition: max-height 1s ease-in-out;
  }

  .nav-button-container.nav-open > li > a {
    max-height: 30px;
    border-radius: 0;
  }

  .nav-list-button-container {
    position: absolute;
  }
  
  .nav-button-container {
    position: absolute;
  }

  .toggle-menu {
    display: block;
  }

  .toggle-menu:hover {
    cursor: pointer;
  }
}

/* Utility Classe */
.bg-none {
  background-color: none;
}

div.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: #EDE8E8;
}