.file-guidelines-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 70%;
}

.file-upload-container {
  margin-left: 10%;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 30%;
  padding: 0.5rem;
}

.generate-flashcards-button {
  margin: auto;
  display: block;
  width: fit-content;
}

.pill-primary {
  background-color: #C06DF1;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5em 4em;
}

.loading-spinner {
  width: 60%;
}

@media (max-width: 720px) {
  .file-guidelines-container {
    width: 90%;
    margin-left: 5%;
  }
}