.file-guidelines-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 70%;
}

.file-upload-container {
  margin-left: 10%;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 30%;
  padding: 0.5rem;
  min-width: 280px;
}

.file-upload-label {
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
}

.file-upload-button {
  display: inline-flex;
  color: white;
  padding: 0.5em;
  background-color: #C06DF1;
}

.file-upload-input {
  position: absolute;
  top: 0;
}

.file-uploaded {
  display: inline-block;
  padding-bottom: 0.3em;
  border-bottom: 1px solid black;
}

.generate-flashcards-button {
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  width: fit-content;
}

.pill-primary {
  background-color: #C06DF1;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5em 4em;
}

.loading-spinner {
  width: 20%;
  min-width: 150px;
  margin: 0 auto;
  display: block;
}

.create-flashcards-text {
  text-align: center;
}

@media (max-width: 720px) {
  .file-guidelines-container {
    width: 90%;
    margin-left: 5%;
  }

  .file-upload-container {
    margin-left: 5%;
  }
}